@font-face {
    font-family: 'palanquin_darkbold';
    src: url('fonts/palanquindark-bold-2-webfont.woff2') format('woff2'),
         url('fonts/palanquindark-bold-2-webfont.woff') format('woff'),
         url('fonts/palanquindark-bold-2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$blue-light: #B9DFF0;
$blue-dark: #021442;
$red: #EA4301;

html, body {
  margin: 0;
  padding: 0;
  color: $blue-dark;
}

a {
  color: $blue-dark;
  cursor: pointer;
  &:focus {
    color: $blue-dark;
  }
  &:hover {
    color: $blue-light;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'palanquin_darkbold', sans-serif;
}

p {
  font-family: "adobe-garamond-pro", serif;
  font-style: italic;
}

.red {
  color: $red;
}

.uppercase {
  text-transform: uppercase;
}

.logo {
  display: block;
  text-align: center;
  img {
      max-width: 60rem;
      margin: 0 auto;
  }
}

.next {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  img {
    max-width: 5rem;
  }
}

.about {
  img {
    max-width: 43rem;
    margin: 0 auto;
  }
  h3 {
    padding-top: 1rem;
  }
  p {
    font-size: 16px;
    max-width: 35rem;
  }
}

.contact {
  text-align: center;
    h2 {
      font-size: 4rem;
      margin: 4rem;
    }
    h4 {
      font-size: 2rem;
    }
    &:before {
      display: inline-block;
      content: "";
      border-top: 1rem solid $blue-dark;
      width: 15rem;
      margin: 0 1rem;
    }
    &:after {
      display: inline-block;
      content: "";
      border-top: 1rem solid $red;;
      width: 15rem;
      margin: 0 1rem;
    }
}

.prev {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  img {
    max-width: 5rem;
  }
}

#fp-nav ul li a span {
  background: $blue-dark;
}

#fp-nav ul li a {
  &.active span {
    background: $red;
  }
}


@media only screen and (max-width: 991px) {
  .logo {
    img {
      max-width: 36rem;
    }
  }
  .about {
    text-align: justify;
    h3 {
      text-align: center;
    }
    p {
      max-width: 35rem;
      margin: 0 auto;
    }
  }
  .responsive-h {
  font-size: 2rem !important;
  }
}
